#titulo{
    text-align: center;
    border-bottom: 1px dashed black;
    color: blueviolet;
    background-color: lightsalmon;
}
p#descricao{
    color: blue;
    text-align: center;
}
p.promocao{
    text-align: center;
    background-color: yellow;
}
.nova{
    color: red;
}
p.final-pagina#rodape{
    border-bottom: 1px solid black;
    background-color: #ccc;
    padding: 12px;
    text-align: center;
}
/* .curso{
    background-color: aliceblue;
}
.novo-curso{
    background-color: aliceblue;
    color: red;
} */
.curso, .novo-curso, #contato{
    background-color: aliceblue;
}
.novo-curso{
    color: rosybrown;
}
article p{
    padding: 12px;
}
.coordenadores{
    background-color: purple;
}
#principal p.promocao{
    padding: 12px;
    border-bottom: #ccc 1px solid;
}
body #principal article section p.coordenadores{
    text-align: center;
}
article > p{
    margin-left: 12px;
    margin-right: 12px;
}
main > article section > p.coordenadores{
    font-weight: bold;
}